/* Number */

.slide::after {
    position: absolute;
    right: 16px;
    bottom: 38px;
    left: 0;
    color: var(--color-light);
    line-height: 18px;
    text-align: center;
    counter-increment: slide;
    content: counter(slide);
    top: unset;
    box-sizing: unset;
    padding-top: unset;
    width: unset;
    height: unset;
    background-image: unset;
    background-size: unset;
}

/* Overrides for the default Shower theme */

.slide {
    padding-top: 50px;
}

.toc a {
    color: black;
}

.shower {
    font-size: 24pt;
}

.small {
    font-size: 20pt;
    line-height: 1.2;
}

/* SVG images */

iframe.image {
    width: 100%;
    height: 420px;
}

iframe {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* Text balloons */

.balloon {
    line-height: 1;
    border-radius: 16px;
    border: solid;
    background-color: lightgrey;
    font-size: 22pt;
}

.green-balloon {
    line-height: 1;
    border-radius: 16px;
    border: solid #585a5e;
    color: #585a5e;
    background-color: #93c47d;
    font-size: 20pt;
}

.red-balloon {
    line-height: 1;
    border-radius: 16px;
    border: solid #585a5e;
    color: #585a5e;
    background-color: #e19594;
    font-size: 20pt;
}

/* Nested lists */

.nested {
    font-size: 22pt;
    line-height: 1.2;
}

.nested-2 {
    font-size: 20pt;
    line-height: 1.2;
}

/* Code blocks */

code {
    font-size: 15pt;
    line-height: 1 !important;
    letter-spacing: -1.5px;
}


.footnote {
    line-height: 1.4;
    font-size: 18pt;
    margin-bottom: 0 !important;
}
